*{
    margin:0;
    padding:0;
}

body{
    background-color:#02063b;
    /*cor  de fundo*/
    
    /*cor da letra*/
}

.principal{
    background-image: url(IMG/Background.png);
    background-repeat:no-repeat;  
    background-size:contain;
}
body{
    background-color: crimson;
    /*cor de fundo*/
    color:rgb(250, 9, 9) ;
    /*cor da letra*/
}
.container{
    height: 50px; display:grid;
    grid-template-columns: 50% 50%;
}
.container_botao{
    background-color: blue;
border-radius: 15px;
padding: 32px;
color: darkgreen;
display;block