*{
    margin: 5px;
    padding: 18px;
}

body{
    background-color:#02063b;
    font-size: 17px;
    font-weight: 100;
    /*cor  de fundo*/
    color: rgb(223, 13, 13);
    /*cor da letra*/
}

.principal{
    background-image: url(IMG/Notebook.png);
    background-repeat:no-repeat;  
    background-size:contain;
}
.container{
    height:90vh;
    display: grid;
    grid-template-columns: 68% 25%;
}
.container_botao{
    background-color: rgb(231, 216, 216);
    text-decoration: none;
    border-radius: 10px;
    padding: 35px;
    color: rgb(255, 10, 10);
    display: block;
    margin-top: 11em;
}

.botao_secundario{                                                                                          
    background-color: transparent;
    border: 10px solid rgb(133, 95, 95)
}
.container_imagem{
     margin: 9 px 30 40 px 40; 
 }
 .container_caixa{
    margin: 40px 100px;
} .secundario_imagem{
    width:40;
}
 .segundario{
    align-items:center;
    margin: 80 100em; 
}
.container_descriçao{
    padding: 2em;
}
.segundario_botao{
    display: inline-block;
    padding: 2em;
    margin-top: 0em;
}